openapi: 3.2.0
info:
  version: 3.1.4
  title: Service Policy Management API
  description: "The Policy Management API allows users to create, retrieve, update, and manage security policies in the Unified Defense SIEM (UDS) platform.\n\n---\n\n### Authentication & Authorization\n- **Authentication**: All requests require a JWT Bearer token.\n- **Authorization**: Access is enforced using `role` and `tenant` claims present in the JWT.\n  - **Read APIs** require one of: `ROLE_ADMIN`, `ROLE_CONTENT_DEVELOPER`, `ROLE_READ_ONLY`.\n  - **Write APIs** require one of: `ROLE_ADMIN`, `ROLE_CONTENT_DEVELOPER`.\n\n Refer to the [Authentication Guide](https://documentation.securonix.com/r/content/authentication.htm) for token acquisition and usage.\n\n **⚠️ Important:** The **API Base URL** is region-specific and must be obtained from your Technical Account Manager or Securonix Customer Support."
  contact:
    name: Securonix Customer Support
    url: ''
    email: customer-support@securonix.com
servers:
- url: https://policymanagement.api.securonix.net
  description: Policy Management API regional base URL
security:
- bearerAuth: []
tags:
- name: Policy Management
  description: The Policy Management API allows users to configure  policies in the Unified Defense SIEM platform (UDS).
paths:
  /v1/policies/client-id:
    get:
      tags:
      - Policy Management
      summary: Get Client ID from JWT token
      description: "Extracts and returns the Client ID information from the provided JWT authorization token. \n"
      operationId: getClientId
      responses:
        '200':
          description: 'TenantId is retrieved successfully. You can use the tenantId as the header parameter (**client-id**) for policy APIs to authenticate your request. '
          content:
            application/json:
              schema:
                type: string
                examples:
                - tenant1
              examples:
                default:
                  $ref: '#/components/examples/default'
        '401':
          description: Invalid JWT token. Please provide a valid token to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: 403 FORBIDDEN
                    message: User is Not entitled for getting the requested data
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: Policy not found for id 1
                    httpStatus: NOT_FOUND
        '422':
          description: Parent id not found in Auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Error processing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
  /v1/policies/create:
    post:
      tags:
      - Policy Management
      summary: Creates new UDS policies.
      description: 'Creates a new policy in the Unified Defense SIEM platform (UDS). It accepts the DELTA format polices, then converts and saves them to UDS.


        > **YAML Response Support:**

        > - To receive a YAML response, include the header `Accept: application/yaml` or `Accept: application/x-yaml` in the request.

        > - JSON remains the default when the Accept header is not provided.

        > - If YAML conversion fails, the response falls back to JSON.

        '
      operationId: createPolicies
      parameters:
      - $ref: '#/components/parameters/ClientIdHeader'
      - $ref: '#/components/parameters/AcceptHeader'
      requestBody:
        description: "YAML object containing the details of the policy to be created in the Securonix platform. \nThe request must include all required fields as defined in the `Policy` schema. \n\n"
        required: true
        content:
          application/yaml:
            schema:
              $ref: '#/components/schemas/Policy'
            examples:
              Example 1:
                value:
                  name: Account Updates From Suspicious IP Address
                  category:
                  - Persistence
                  - FRAUD
                  functionality:
                  - loud Authentication / SSO / Single Sign-On
                  lifecycle: experimental
                  version: 6402507
                  description: P Address of (username spraying and password spraying) violators are stored in a active list where this information is stored for 24 hrs.
                  labels:
                  - attack.defense_evasion
                  logsource:
                    product: Google Login
                    service: Google
                  detection:
                    selection_1:
                      baseeventid: '4688'
                    selection_2:
                      destinationprocessname: lsaas.exe
                    selection_3:
                      commandline|contains: lsass.exe
                    condition: selection_1 AND ( selection_2 or selection_3 )
                  criticality: Low
                  violator: Activityip
                  violatorAttribute: sourceaddress
                  tenantname:
                  - string
                  signatureid: CAAL-Delta-1
                  threatname: Account Manipulation
                  saveasthreat: true
                  verbose_info: '''Account ${accountname!"UNKNOWN"} getting updates from possible suspicious IP Address.'''
                  violation_summary:
                    grouping_attribute: DeviceAction
                    level2_attribute: DeviceEventCategory
                    level2_metadata_attributes:
                    - DestinationUserName
                    - ModifiedProperties1
                    metadata_attributes:
                    - SourceUserId
                    - Category
                  incident_workflow: SOCTeamReview
                  autoIncidentEnabled: true
                  analytical_type:
                    aggregated_event_analytics:
                    - name: Authentication Failed
                      aee_filter:
                        selection1:
                          baseeventid: 4625
                        condition: selection1
                      number_of_occurrences:
                        duration: 01:30:00
                        atleast: 1
                        count_matching_criteria:
                          baseeventid: 15
                      similar_value:
                      - accountname
                      consecutive_events: true
                      distinct_value:
                      - ipaddress
                      - eventcountry
                    - name: Authentication Success
                      aee_filter:
                        selection1:
                          baseeventid|equals: 4625
                        condition: selection1
                      number_of_occurrences:
                        duration: 01:30:00
                        atleast: 1
                        count_matching_criteria:
                          baseeventid: 15
                      consecutive_events: false
                      distinct_value:
                      - ipaddress
                      - eventcountry
                      parent_child_relationship:
                        duration: 01:00:00
                        common_values:
                        - accountname
                  additional_event_analytics:
                    match_all_checks: true
                    check_against_watchlist:
                    - accountname: Terminated_Contractors
                      flag_violation_not_found_in_watchlist: true
                    check_against_lookup:
                    - lookup:
                        accountname: MultipleFailedEntries
                      condition: lookup
                      additional_criteria:
                        selection_1:
                          VendorId|contains: Vendor
                        condition: NOT selection_1
                    email_to_self:
                    - emailrecipient: 0.8
                    match_string:
                    - ms:
                        first_field: AccountName
                        second_field: UserNameSpace
                        threshold: 0.8
                    check_against_tpi:
                    - tpi: null
                      destinationaddress:
                      - SNXTIS_BASIC_IPV4
                      - SNXTIS_BASIC_IPV6
                      additional_criteria:
                        selection_1:
                        - tpi_src_confidence|gt: 5
                        - tpi_country|contains|attr: country
                        selection_2:
                        - tpi_src: abc
                        condition: selection_1 AND NOT selection_2
                    check_against_activelist:
                    - activelist:
                        rule: ipaddress
                        rule_match_present: true
                        activelist_name: Password_spraying_attempts_From_single_IP
                  violation_action:
                    dailyviolationthreshold: 100000
                    add_to_watchlist:
                      watchlist_name: Domain_Admin
                      removal_period:
                        days: 1
                        time: '12:00:00'
                        expiry_date_from_current_time: true
                  apisource: AI
      responses:
        '200':
          description: Policies created successfully. Supports both JSON and YAML response formats via Accept header (application/json or application/x-yaml). If YAML conversion fails, returns JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePolicyResponse'
              examples:
                Example 1:
                  value:
                    id: 12345
                    name: Suspicious Login Policy
                    description: Detects suspicious login patterns
                    enabled: true
                    createdOn: '2023-01-15T10:30:00Z'
                    lastUpdated: '2023-06-20T14:45:00Z'
                    createdBy: admin
                    updatedBy: security_analyst
                    owner: security_team
                    riskTypeId: 101
                    criticality: HIGH
                    riskThreatId: 201
                    threatName: Account Compromise
                    category: Authentication
                    categoryId: 301
                    policyType: REALTIME
                    functionality: LOGIN_MONITORING
                    functionalityId: 401
                    hql: SELECT * FROM events WHERE...
                    query: user.login_attempts > 5
                    groupBy: user_id
                    havingClause: COUNT(*) > 3
                    joinGroup: user_events
                    initiateWorkFlow: true
                    directHql: false
                    directiveEnabled: true
                    functionEnabled: true
                    directiveConfig: <directiveConfig>...</directiveConfig>
                    functionConfig: <functionConfig>...</functionConfig>
                    configWorkflowName: incident_response_workflow
                    violator: user_id
                    violatorAttribute: sourceusername
                    violation: Multiple failed login attempts
                    violatorCriticalityLevel: HIGH
                    violationDisplayConfig: <display>...</display>
                    verboseInfoTemplate: User {user} attempted {count} logins
                    maxResults: 1000
                    dailyViolationThreshold: 100
                    aggregateScore: 85
                    cappedRiskScore: 9.5
                    constantScore: '7.5'
                    customScore: 8.2
                    secVersion: 2.1
                    uniqueCode: POL_LOGIN_001
                    signatureId: SIG_12345
                    isWatchlist: false
                    sandboxCategory: false
                    notification: true
                    realTimeCheck: true
                    outputDatabase: true
                    savePveAndScore: true
                    saveAsThreat: false
                    actionPrediction: true
                    commitPolicy: true
                    additionalInfo: false
                    valid: true
                    riskBoosterEnabled: false
                    riskBoosterConfig: <riskbooster>...</riskbooster>
                    functionSuspectConfigEnabled: false
                    functionSuspectConfig: <suspect>...</suspect>
                    suspectConfig: <config>...</config>
                    suspectChecksListId: 501
                    resourceGroupId: 601
                    emailTemplateId: 701
                    spConfigSummarizationId: 801
                    resourceType: DATABASE
                    resourceTypeId: DB_001
                    analyticsType: BEHAVIORAL
                    operatorConfig: <operator>...</operator>
                    analyzerConfig: <analyzer>...</analyzer>
                    ownership: security_team
                    pipelineName: security_pipeline
                    feedback: Working as expected
                    releaseNotes: Updated threshold values
                    whatsNew: Added new detection logic
                    origin: PA
                    modifiedOrigin: UI
                    remediator: auto_remediation
                    threatRemediationSteps: 1. Block user 2. Notify admin
                    policyFunctionalityRelations:
                    - id: 1
                      functionalityName: LOGIN_MONITORING
                      tenantid: 4
                      idx: 0
                    policylabels:
                    - label_name: scx.attack.privilege_escalation
                      labelId: 245
                      idx: 1
                    policyWatchlists:
                    - id: 10
                      watchlistId: 9995
                      index: 0
                      watchlistName: Recent_Transfers
                      expiryDaysCount: 30
                      decayFactor: 0
                      decayFlag: false
                      initialConfidenceLevel: 1
                      confidenceIncrementFactor: 0
                      dynamicWatchlist: true
                      fieldList: ''
                      calculateExpiryFromNow: false
                    policyActivelists:
                    - activelistId: 9
                      policyId: 12345
                      index: 0
                      metadata: "<activeListParamsBean>\n    <keyRule>u_employeeid</keyRule>\n    <violationAttributes>deviceaction,ipaddress,destinationaddress,destinationport</violationAttributes>\n</activeListParamsBean>"
                    policyDeprecateInfo:
                    - id: 769
                      deprecated: false
                      index: 0
                      starttime: '2023-04-12'
                      endtime: '2023-04-19'
                      validityindays: '7'
                      deprecatedwithviolation: false
                      signatureid: SIG_12345
                      policyname: Suspicious Login Policy
                    policyPredictionAttributes:
                    - riskTypeId: 2393
                      forestId: 2393
                      riskThreatId: 50149
                      signatureId: '1000024'
                      index: 0
                      attributes: "<policyAttributeBean>\n    <attributePriorityMap>\n        <entry>\n            <key>ipaddress</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_employeeid</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_department</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_firstname</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>accountname</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>transactionstring1</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_lastname</key>\n            <value>1</value>\n        </entry>\n    </attributePriorityMap>\n</policyAttributeBean>"
                    policyOutputConfigs: []
                    policyResources:
                    - id: 1
                      resourceId: 1
                      resourceGroupId: 1
                      resourceTypeId: 1
                    policyRules:
                    - id: 1050
                      object: Users
                      field: transferreddate
                      condition: CONDITION_GREATER_THAN_OR_EQUALS
                      value: $CURRENT_DATE
                      logicalCondition: AND
                      group: group_1
                      index: 0
                      deviationFlag: 'No'
                      ruleType: USER
                      functionRightString: fn_date_sub(${field}, ${p1}, ${p2})
                      functionRightParameters: 30|DAY
            application/yaml:
              schema:
                $ref: '#/components/schemas/Policy'
              description: YAML representation of the created policy in DELTA format. Returned when Accept header is application/yaml or application/x-yaml.
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/Policy'
              description: YAML representation of the created policy in DELTA format. Equivalent to application/yaml.
        '400':
          description: Invalid input data. Cannot process policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
        '401':
          description: Unauthorized - Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: Policy not found for id 1
                    httpStatus: NOT_FOUND
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Error processing policies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
  /v1/policies/update:
    put:
      tags:
      - Policy Management
      summary: Update an existing policy
      description: "Updates an existing policy by its name in the Unified Defense SIEM platform (UDS).  This endpoint uses YAML object containing the details of the policy to be created in the Securonix platform for requests. Attributes that can be updated using this endpoint are:\n- tenantnames\n- version\n- description\n- labels\n- detection\n- saveasthreat\n- incident workflow\n- auto incident enabled\n- additional event analytics\n- aggregated event analytics\n- verbose_info\n- signatureId \n- daily violation threshold \n- add policy violators to watchlist\n\n> **YAML Response Support:**\n> - To receive a YAML response, include the header `Accept: application/yaml` or `Accept: application/x-yaml` in the request.\n> - JSON remains the default when the Accept header is not provided.\n> - If YAML conversion fails, the response falls back to JSON.\n"
      operationId: updatePolicy
      parameters:
      - $ref: '#/components/parameters/ClientIdHeader'
      - $ref: '#/components/parameters/AcceptHeader'
      requestBody:
        description: "YAML object containing the details of the policy to be created in the Securonix platform. \nThe request must include all required fields as defined in the `Policy` schema. \n"
        required: true
        content:
          application/yaml:
            schema:
              $ref: '#/components/schemas/UpdatePolicy'
            examples:
              Example 1:
                value:
                  tenantnames:
                  - tenantB
                  description: Updating policy description
                  labels:
                  - updated.label.name
                  detection:
                    selection_1:
                      baseeventid: 4688
                    selection_2:
                      destinationprocessname: lsaas.exe
                    selection_3:
                      commandline|contains: lsass.exe
                    condition: selection_1 AND ( selection_2 or selection_3 )
                  saveasthreat: true
                  incident_workflow: SOCTeamReview
                  autoIncidentEnabled: true
                  violatorAttribute: sourceusername
                  additional_event_analytics:
                    match_all_checks: true
                    check_against_watchlist:
                    - accountname: Terminated_Contractors
                      flag_violation_not_found_in_watchlist: true
                    check_against_lookup:
                    - lookup:
                        accountname: MultipleFailedEntries
                      condition: lookup
                      additional_criteria:
                        selection_1:
                          VendorId|contains: Vendor
                        condition: NOT selection_1
                    email_to_self:
                    - emailrecipient: 0.8
                    match_string:
                    - ms:
                        first_field: AccountName
                        second_field: UserNameSpace
                        threshold: 0.8
                    check_against_tpi:
                    - tpi: null
                      destinationaddress:
                      - SNXTIS_BASIC_IPV4
                      - SNXTIS_BASIC_IPV6
                      additional_criteria:
                        selection_1:
                        - tpi_src_confidence|gt: 5
                        - tpi_country|contains|attr: country
                        selection_2:
                        - tpi_src: abc
                        condition: selection_1 AND NOT selection_2
                    check_against_activelist:
                    - activelist:
                        rule: ipaddress
                        rule_match_present: true
                        activelist_name: Password_spraying_attempts_From_single_IP
                  analytic_type:
                    aggregated_event_analytics:
                    - name: Authentication Failed
                      aee_filter:
                        selection1:
                          baseeventid: 4625
                        condition: selection1
                      number_of_occurrences:
                        duration: 01:30:00
                        atleast: 1
                        count_matching_criteria:
                          baseeventid: 15
                      similar_value:
                      - accountname
                      consecutive_events: true
                      distinct_value:
                      - ipaddress
                      - eventcountry
                    - name: Authentication Success
                      aee_filter:
                        selection1:
                          baseeventid|equals: 4625
                        condition: selection1
                      number_of_occurrences:
                        duration: 01:30:00
                        atleast: 1
                        count_matching_criteria:
                          baseeventid: 15
                      consecutive_events: false
                      distinct_value:
                      - ipaddress
                      - eventcountry
                      parent_child_relationship:
                        duration: 01:00:00
                        common_values:
                        - accountname
                  verbose_info: '''Account ${accountname!"UNKNOWN"} getting updates from possible suspicious IP Address.'''
                  apisource: AI
      responses:
        '200':
          description: Policy updated successfully. Supports both JSON and YAML response formats via Accept header (application/json or application/x-yaml). If YAML conversion fails, returns JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePolicyResponse'
              examples:
                Example 1:
                  value:
                    id: 12345
                    name: Suspicious Login Policy
                    description: Detects suspicious login patterns
                    enabled: true
                    createdOn: '2023-01-15T10:30:00Z'
                    lastUpdated: '2023-06-20T14:45:00Z'
                    createdBy: admin
                    updatedBy: security_analyst
                    owner: security_team
                    riskTypeId: 101
                    criticality: HIGH
                    riskThreatId: 201
                    threatName: Account Compromise
                    category: Authentication
                    categoryId: 301
                    policyType: REALTIME
                    functionality: LOGIN_MONITORING
                    functionalityId: 401
                    hql: SELECT * FROM events WHERE...
                    query: user.login_attempts > 5
                    groupBy: user_id
                    havingClause: COUNT(*) > 3
                    joinGroup: user_events
                    initiateWorkFlow: true
                    directHql: false
                    directiveEnabled: true
                    functionEnabled: true
                    directiveConfig: <directiveConfig>...</directiveConfig>
                    functionConfig: <functionConfig>...</functionConfig>
                    configWorkflowName: incident_response_workflow
                    violator: user_id
                    violatorAttribute: sourceusername
                    violation: Multiple failed login attempts
                    violatorCriticalityLevel: HIGH
                    violationDisplayConfig: <display>...</display>
                    verboseInfoTemplate: User {user} attempted {count} logins
                    maxResults: 1000
                    dailyViolationThreshold: 100
                    aggregateScore: 85
                    cappedRiskScore: 9.5
                    constantScore: '7.5'
                    customScore: 8.2
                    secVersion: 2.1
                    uniqueCode: POL_LOGIN_001
                    signatureId: SIG_12345
                    isWatchlist: false
                    sandboxCategory: false
                    notification: true
                    realTimeCheck: true
                    outputDatabase: true
                    savePveAndScore: true
                    saveAsThreat: false
                    actionPrediction: true
                    commitPolicy: true
                    additionalInfo: false
                    valid: true
                    riskBoosterEnabled: false
                    riskBoosterConfig: <riskbooster>...</riskbooster>
                    functionSuspectConfigEnabled: false
                    functionSuspectConfig: <suspect>...</suspect>
                    suspectConfig: <config>...</config>
                    suspectChecksListId: 501
                    resourceGroupId: 601
                    emailTemplateId: 701
                    spConfigSummarizationId: 801
                    resourceType: DATABASE
                    resourceTypeId: DB_001
                    analyticsType: BEHAVIORAL
                    operatorConfig: <operator>...</operator>
                    analyzerConfig: <analyzer>...</analyzer>
                    ownership: security_team
                    pipelineName: security_pipeline
                    feedback: Working as expected
                    releaseNotes: Updated threshold values
                    whatsNew: Added new detection logic
                    origin: PA
                    modifiedOrigin: UI
                    remediator: auto_remediation
                    threatRemediationSteps: 1. Block user 2. Notify admin
                    policyFunctionalityRelations:
                    - id: 1
                      functionalityName: LOGIN_MONITORING
                      tenantid: 4
                      idx: 0
                    policylabels:
                    - label_name: scx.attack.privilege_escalation
                      labelId: 245
                      idx: 1
                    policyWatchlists:
                    - id: 10
                      watchlistId: 9995
                      index: 0
                      watchlistName: Recent_Transfers
                      expiryDaysCount: 30
                      decayFactor: 0
                      decayFlag: false
                      initialConfidenceLevel: 1
                      confidenceIncrementFactor: 0
                      dynamicWatchlist: true
                      fieldList: ''
                      calculateExpiryFromNow: false
                    policyActivelists:
                    - activelistId: 9
                      policyId: 12345
                      index: 0
                      metadata: "<activeListParamsBean>\n    <keyRule>u_employeeid</keyRule>\n    <violationAttributes>deviceaction,ipaddress,destinationaddress,destinationport</violationAttributes>\n</activeListParamsBean>"
                    policyDeprecateInfo:
                    - id: 769
                      deprecated: false
                      index: 0
                      starttime: '2023-04-12'
                      endtime: '2023-04-19'
                      validityindays: '7'
                      deprecatedwithviolation: false
                      signatureid: SIG_12345
                      policyname: Suspicious Login Policy
                    policyPredictionAttributes:
                    - riskTypeId: 2393
                      forestId: 2393
                      riskThreatId: 50149
                      signatureId: '1000024'
                      index: 0
                      attributes: "<policyAttributeBean>\n    <attributePriorityMap>\n        <entry>\n            <key>ipaddress</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_employeeid</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_department</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_firstname</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>accountname</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>transactionstring1</key>\n            <value>1</value>\n        </entry>\n        <entry>\n            <key>u_lastname</key>\n            <value>1</value>\n        </entry>\n    </attributePriorityMap>\n</policyAttributeBean>"
                    policyOutputConfigs: []
                    policyResources:
                    - id: 1
                      resourceId: 1
                      resourceGroupId: 1
                      resourceTypeId: 1
                    policyRules:
                    - id: 1050
                      object: Users
                      field: transferreddate
                      condition: CONDITION_GREATER_THAN_OR_EQUALS
                      value: $CURRENT_DATE
                      logicalCondition: AND
                      group: group_1
                      index: 0
                      deviationFlag: 'No'
                      ruleType: USER
                      functionRightString: fn_date_sub(${field}, ${p1}, ${p2})
                      functionRightParameters: 30|DAY
            application/yaml:
              schema:
                $ref: '#/components/schemas/Policy'
              description: YAML representation of the updated policy in DELTA format. Returned when Accept header is application/yaml or application/x-yaml.
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/Policy'
              description: YAML representation of the updated policy in DELTA format. Equivalent to application/yaml.
        '401':
          description: Unauthorized - Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: 403 FORBIDDEN
                    message: User is Not entitled for getting the requested data
        '404':
          description: Policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: Policy not found for id 1
                    httpStatus: NOT_FOUND
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
  /v1/policies/status:
    patch:
      tags:
      - Policy Management
      summary: Enable or disable policies.
      description: Clients can use this endpoint to enable or disable one or more policies.
      operationId: enableDisablePolicies
      parameters:
      - $ref: '#/components/parameters/ClientIdHeader'
      requestBody:
        description: 'Defines the list of policies to be enabled/disabled.


          - **Required fields:**" ''policyNames'', ''enable''


          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyActionRequest'
            examples:
              Example of enabling or disabling a policy:
                description: Example of enabling or disabling a policy
                value:
                  policyNames:
                  - PolicyA
                  - PolicyB
                  - PolicyC
                  enable: 'true'
      responses:
        '200':
          description: 'Policies enabled/disabled successfully.


            Response `status` will indicate if policy action has been successful.


            **Status values:**

            - "Success" - When the policy is found and the status update operation completes successfully

            - "Invalid" - When the policy name provided is not found in the valid policy names list'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyStatusResponse'
              examples:
                Example 1:
                  value:
                    PolicyStatusDetailsResponse:
                    - policyName: PolicyA
                      policyId: 1
                      status: Success
                    - policyName: PolicyB
                      policyId: 2
                      status: Invalid
        '401':
          description: Unauthorized - Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: 403 FORBIDDEN
                    message: User is Not entitled for getting the requested data
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: Policy not found for id 1
                    httpStatus: NOT_FOUND
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
  /v1/policies/erase:
    delete:
      tags:
      - Policy Management
      summary: Bulk delete multiple policies.
      description: Deletes multiple policies in a single request with individual violation deletion preferences. This endpoint supports bulk deletion of up to **100 policies per request**. Requests exceeding this limit will be rejected.
      operationId: bulkDeletePolicies
      parameters:
      - $ref: '#/components/parameters/ClientIdHeader'
      requestBody:
        description: JSON object containing the tenant name and list of policies to be deleted with their respective violation deletion preferences.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPolicyDeletionRequest'
            examples:
              Example 1:
                value:
                  tenantName: SOAR
                  policies:
                  - policyName: Recent Transfers
                    deleteViolations: true
                  - policyName: policy for Whitelist
                    deleteViolations: false
      responses:
        '200':
          description: Policy deletion completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkPolicyDeletionResponse'
              examples:
                Example 1:
                  value:
                    totalRequested: 2
                    totalSuccessful: 1
                    totalFailed: 1
                    results:
                    - policyName: Recent Transfers
                      success: true
                      errorMessage: null
                      deletionTrackerId: 123
                      disabled: true
                      policyId: 456
                    - policyName: policy for Whitelist
                      success: false
                      errorMessage: Policy not found
                      deletionTrackerId: null
                      disabled: false
                      policyId: null
        '400':
          description: Validation failed for deletion request - invalid input data or request format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
        '401':
          description: Unauthorized - Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: 403 FORBIDDEN
                    message: User is Not entitled for getting the requested data
        '404':
          description: One or more policies not found - detailed results provided in response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: One or more policies not found
                    httpStatus: NOT_FOUND
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
  /v1/policies/fetch:
    get:
      tags:
      - Policy Management
      summary: Get a policy by its name
      description: 'Retrieves the details of a policy using its unique identifier or policy name.


        > **YAML Response Support:**

        > - To receive a YAML response, include the header parameter `Accept: application/yaml` or `Accept: application/x-yaml` in the request.

        > - YAML format is supported only for **IEE (Individual Event Event)** and **AEE (Aggregated Event Event)** policies.

        > - For all other policy types, or if YAML conversion is not supported, the response defaults to JSON format.'
      operationId: getPolicy
      parameters:
      - $ref: '#/components/parameters/ClientIdHeader'
      - name: filter
        in: query
        description: Enter the field to filter on. **Supported fields:**  `id`, `name`.
        required: true
        schema:
          type: string
      - name: filterValue
        in: query
        description: Enter the amount to filter by.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/AcceptHeader'
      responses:
        '200':
          description: Policy fetched successfully
          headers:
            X-Response-Format-Fallback:
              description: Indicates that the response format was changed from the requested format. Value is 'json' when YAML conversion fails and falls back to JSON.
              schema:
                type: string
                example: json
            X-Response-Format-Requested:
              description: Indicates the originally requested response format.
              schema:
                type: string
                example: yaml
            X-Yaml-Conversion-Fallback-Reason:
              description: Indicates the specific reason for YAML to JSON fallback. Value is 'missing-mandatory-fields' when the columns parameter is missing required fields for YAML conversion. Only present when X-Response-Format-Fallback is 'json'.
              schema:
                type: string
                example: missing-mandatory-fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePolicyResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Policy'
              examples:
                Example 1:
                  value:
                    name: ''
                    id: Account Updates From Suspicious IP Address
                    category:
                    - Persistence
                    - FRAUD
                    functionality:
                    - loud Authentication / SSO / Single Sign-On
                    lifecycle: experimental
                    version: 6402507
                    description: P Address of (username spraying and password spraying) violators are stored in a active list where this information is stored for 24 hrs.
                    labels:
                    - attack.defense_evasion
                    logsource:
                      product: Google Login
                      service: Google
                    detection:
                      selection_1:
                        baseeventid: '4688'
                      selection_2:
                        destinationprocessname: lsaas.exe
                      selection_3:
                        commandline|contains: lsass.exe
                      condition: selection_1 AND ( selection_2 or selection_3 )
                    criticality: Low
                    violator: Activityip
                    violatorAttribute: sourceaddress
                    tenantname:
                    - string
                    signatureid: CAAL-Delta-1
                    threatname: Account Manipulation
                    saveasthreat: true
                    verbose_info: '''Account ${accountname!"UNKNOWN"} getting updates from possible suspicious IP Address.'''
                    violation_summary:
                      grouping_attribute: DeviceAction
                      level2_attribute: DeviceEventCategory
                      level2_metadata_attributes:
                      - DestinationUserName
                      - ModifiedProperties1
                      metadata_attributes:
                      - SourceUserId
                      - Category
                    incident_workflow: SOCTeamReview
                    analytical_type:
                      aggregated_event_analytics:
                      - name: Authentication Failed
                        aee_filter:
                          selection1:
                            baseeventid: 4625
                          condition: selection1
                        number_of_occurrences:
                          duration: 01:30:00
                          atleast: 1
                          count_matching_criteria:
                            baseeventid: 15
                        similar_value:
                        - accountname
                        consecutive_events: true
                        distinct_value:
                        - ipaddress
                        - eventcountry
                      - name: Authentication Success
                        aee_filter:
                          selection1:
                            baseeventid|equals: 4625
                          condition: selection1
                        number_of_occurrences:
                          duration: 01:30:00
                          atleast: 1
                          count_matching_criteria:
                            baseeventid: 15
                        consecutive_events: false
                        distinct_value:
                        - ipaddress
                        - eventcountry
                        parent_child_relationship:
                          duration: 01:00:00
                          common_values:
                          - accountname
                    additional_event_analytics:
                      match_all_checks: true
                      check_against_watchlist:
                      - accountname: Terminated_Contractors
                        flag_violation_not_found_in_watchlist: true
                      check_against_lookup:
                      - lookup:
                          accountname: MultipleFailedEntries
                        condition: lookup
                        additional_criteria:
                          selection_1:
                            VendorId|contains: Vendor
                          condition: NOT selection_1
                      email_to_self:
                      - emailrecipient: 0.8
                      match_string:
                      - ms:
                          first_field: AccountName
                          second_field: UserNameSpace
                          threshold: 0.8
                      check_against_tpi:
                      - tpi: null
                        destinationaddress:
                        - SNXTIS_BASIC_IPV4
                        - SNXTIS_BASIC_IPV6
                        additional_criteria:
                          selection_1:
                          - tpi_src_confidence|gt: 5
                          - tpi_country|contains|attr: country
                          selection_2:
                          - tpi_src: abc
                          condition: selection_1 AND NOT selection_2
                      check_against_activelist:
                      - activelist:
                          rule: ipaddress
                          rule_match_present: true
                          activelist_name: Password_spraying_attempts_From_single_IP
                    violation_action:
                      dailyviolationthreshold: 100000
                      add_to_watchlist:
                        watchlist_name: Domain_Admin
                        removal_period:
                          days: 1
                          time: '12:00:00'
                          expiry_date_from_current_time: true
                    apisource: AI
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/Policy'
              description: YAML representation of the fetched policy in DELTA format. Equivalent to application/yaml.
        '401':
          description: Unauthorized - Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: 403 FORBIDDEN
                    message: User is Not entitled for getting the requested data
        '404':
          description: Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: Policy not found for id 1
                    httpStatus: NOT_FOUND
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
  /v1/policies/all:
    get:
      tags:
      - Policy Management
      summary: Fetch all policies with pagination, sorting, column selection, and dynamic filtering
      description: 'Retrieves a paginated list of policies with support for:


        - **Column Selection**: Return only specific fields.

        - **Sorting**: Order results by supported attributes.

        - **Dynamic Filtering**: Apply flexible filters on any supported field.

        - **Pagination**: Control page size and navigate results.


        This endpoint provides fine-grained control over policy data retrieval.


        > To receive a YAML response, include the header parameter `Accept: application/yaml` or `Accept: application/x-yaml` in the request.

        > If not specified, the response defaults to JSON format.


        > **YAML Response Limitations:**

        > - YAML responses are supported only for **IEE (Individual Event Event)** and **AEE (Aggregated Event Event)** policies.

        > - When YAML format is requested, the response may contain a **partial set of matching policies**. Policies that cannot be converted to YAML are omitted from the response.

        > - When using the `columns` parameter with YAML format, **all mandatory policy fields** must be included to produce a valid YAML response.'
      operationId: getPolicies
      parameters:
      - $ref: '#/components/parameters/ClientIdHeader'
      - name: columns
        in: query
        description: 'Comma-separated list of fields to include in the response. If omitted, all fields are returned.


          **Supported Fields:**

          `id`, `name`, `description`, `isWatchlist`, `targetWorkflow`, `createdOn`, `lastUpdated`, `riskTypeId`, `criticality`, `createdBy`, `updatedBy`, `violator`, `violatorAttribute`, `violation`, `owner`, `remediator`, `hql`, `groupBy`, `havingClause`, `joinGroup`, `initiateWorkFlow`, `directHql`, `category`, `categoryId`, `sandboxCategory`, `notification`, `emailTemplateId`, `realTimeCheck`, `riskThreatId`, `threatName`, `maxResults`, `policyType`, `resourceGroupId`, `outputDatabase`, `clearScratch`, `baseValue`, `directiveEnabled`, `directiveConfig`, `configWorkflowName`, `aggregateScore`, `functionEnabled`, `functionConfig`, `operatorConfig`, `suspectConfig`, `suspectChecksListId`, `resourceType`, `resourceTypeId`, `functionality`, `functionalityId`, `signatureId`, `violatorCriticalityLevel`, `functionSuspectConfigEnabled`, `riskBoosterEnabled`, `riskBoosterConfig`, `hashcode`, `uniqueCode`, `secVersion`, `ownership`, `pipelineName`, `violationDisplayConfig`, `enabled`, `query`, `verboseInfoTemplate`, `analyticsType`, `spConfigSummarizationId`, `feedback`, `analyzerConfig`, `dailyViolationThreshold`, `threatRemediationSteps`, `savePveAndScore`, `analyticConfig`, `saveAsThreat`, `generateNewCasePerRun`, `deleteData`, `actionPrediction`, `cappedRiskScore`, `constantScore`, `customScore`, `commitPolicy`, `additionalInfo`, `releaseNotes`, `whatsNew`, `valid`, `origin`, `modifiedOrigin`.'
        required: false
        schema:
          type: array
          examples:
          - - id
            - name
            - enabled
          items:
            type: string
      - name: sortBy
        in: query
        description: Field to sort results by. Must be one of the supported policy fields.
        required: false
        schema:
          type: string
          default: id
          examples:
          - name
      - name: sortOrder
        in: query
        description: Sort direction. Either `asc` (ascending) or `desc` (descending).
        required: false
        schema:
          type: string
          default: asc
          examples:
          - asc
      - name: limit
        in: query
        description: Maximum number of items per page (1–100).
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 20
          examples:
          - 50
      - name: page
        in: query
        description: Zero-based page index.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
          examples:
          - 2
      - name: filters
        in: query
        description: "Dynamic filters passed as **top-level query parameters** (no prefix). \n\nTwo forms are supported:\n\n1) **Equality:** `field=value`\n2) **Operator form:** `field_op=value` where `op` ∈ `like`, `ne`, `gt`, `lt`, `gte`, `lte`, `in`, `between`\n\n**Notes:**\n\n- `in` accepts comma-separated lists.\n- `between` expects two comma-separated values.\n- Supported fields are the same as those in the `columns` parameter, plus `labelName` and `tenantName`."
        style: form
        explode: true
        schema:
          type: string
        examples:
          basic:
            summary: Exact match filter (boolean equality)
            value: ?enabled=true
          like:
            summary: Fuzzy match filter using partial text search
            value: ?name_like=login
          range:
            summary: Range filter for values between a start and end boundary
            value: ?createdOn_between=2024-01-01,2024-06-01
          in:
            summary: Multi-value filter matching any value from a list
            value: ?criticality_in=Low,High,Medium
          multi:
            summary: Combined filters using multiple query parameters
            value: ?enabled=true&name_like=login&criticality=High
      - $ref: '#/components/parameters/AcceptHeader'
      responses:
        '200':
          description: Policies fetched successfully
          headers:
            X-Response-Partial:
              description: Indicates partial YAML conversion when some policies cannot be converted. Value is 'true' when present.
              schema:
                type: string
                example: 'true'
            X-Yaml-Conversion-Unsupported-Count:
              description: Number of policies that could not be converted to YAML format. Only present when X-Response-Partial is true.
              schema:
                type: string
                example: '2'
            Warning:
              description: 'Warning message when partial YAML conversion occurs. Format: ''299 - Partial YAML conversion: some policy types are not supported'''
              schema:
                type: string
                example: '299 - Partial YAML conversion: some policy types are not supported'
            X-Response-Format-Fallback:
              description: Indicates that the response format was changed from the requested format. Value is 'json' when YAML conversion fails and falls back to JSON (e.g., when mandatory columns are missing or conversion error occurs).
              schema:
                type: string
                example: json
            X-Response-Format-Requested:
              description: Indicates the originally requested response format.
              schema:
                type: string
                example: yaml
            X-Yaml-Conversion-Fallback-Reason:
              description: Indicates the specific reason for YAML to JSON fallback. Value is 'missing-mandatory-fields' when the columns parameter is missing required fields for YAML conversion. Only present when X-Response-Format-Fallback is 'json'.
              schema:
                type: string
                example: missing-mandatory-fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
              examples:
                Example 1:
                  value:
                    pageNumber: 0
                    pageSize: 3
                    totalPages: 1
                    totalElements: 3
                    data:
                    - id: 12345
                      name: Suspicious Login Policy
                      enabled: true
                    - id: 12346
                      name: Suspicious Login Policy1
                      enabled: true
                    - id: 12347
                      name: Suspicious Login Policy2
                      enabled: false
                Example 2:
                  value:
                    pageNumber: 0
                    pageSize: 3
                    totalPages: 1
                    totalElements: 3
                    data:
                    - name: QASNX_first_use_of_ipaddress_by_Account-1
                      id: '61'
                      version: 1.1
                      description: First use - ipaddress by account attribute:transactionstring1
                      detection:
                        selection_1:
                          customstring2: FirstUseOfIPAddressByAccount
                        condition: selection_1
                      criticality: Low
                      violator: Activityaccount
                      tenantname:
                      - dtstck8i
                      signatureid: QASNX_10111
                      category:
                      - SANDBOX-ALERT
                      threatname: Critical Data Exfiltrated
                      functionality:
                      - AnalyticsTestHarnessFunctionality_001
                      saveasthreat: false
                      verbose_info: Account ${accountname!"ACCOUNTNAME"} performed ${transactionstring1!"ACTIVITY"} from ipaddress ${ipaddress!"UNKNOWN"}
                      incident_workflow: PolicyOutlierWorkflow
                      violation_action:
                        dailyviolationthreshold: 5000
                    - name: QASNX_First_time_occurence_filter_tpiCheck-1
                      id: '63'
                      version: 1.1
                      description: First Time Occurance + Filter Events + Check against TPI check
                      detection:
                        selection_1:
                          customstring2: First_time_occur_filter_tpiCheck
                        condition: selection_1
                      criticality: Low
                      violator: Activityaccount
                      tenantname:
                      - dtstck8i
                      signatureid: QASNX_10110
                      category:
                      - SANDBOX-ALERT
                      threatname: Critical Data Exfiltrated
                      functionality:
                      - AnalyticsTestHarnessFunctionality_001
                      saveasthreat: false
                      verbose_info: Account ${accountname!"ACCOUNTNAME"} performed ${transactionstring1!"ACTIVITY"} from ipaddress ${ipaddress!"UNKNOWN"}
                      incident_workflow: PolicyOutlierWorkflow
                      additional_event_analytics:
                        match_all_checks: false
                        check_against_tpi:
                        - tpi: ''
                        - requesturl:
                          - RECORDEDFUTURE
                      violation_action:
                        dailyviolationthreshold: 5000
                    - name: QASNX_First_use_of_IPAddress_on_Resource_Flag_Account--1
                      id: '64'
                      version: 1
                      description: This policy will flag the Account when different IP is used from same resource
                      detection:
                        selection_1:
                          customstring2: FIRST_USE_OF_IPADRESS_ON_RESOURCE_FLAG_ACCOUNT
                        condition: selection_1
                      criticality: Low
                      violator: RGActivityaccount
                      tenantname:
                      - dtstck8i
                      signatureid: QASNX_1000295
                      category:
                      - SANDBOX-ALERT
                      threatname: Critical Data Exfiltrated
                      functionality:
                      - AnalyticsTestHarnessFunctionality_001
                      saveasthreat: false
                      verbose_info: Account ${accountname!"ACCOUNTNAME"} performed ${transactionstring1!"ACTIVITY"} from ipaddress ${ipaddress!"UNKNOWN"}
                      incident_workflow: PolicyOutlierWorkflow
                      violation_action:
                        dailyviolationthreshold: 5000
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
              description: YAML representation of policies in DELTA format. Returned when Accept header is application/yaml or application/x-yaml. Only IEE and AEE policies are included; unsupported policy types are omitted.
            application/x-yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
              description: YAML representation of policies in DELTA format. Equivalent to application/yaml.
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
        '401':
          description: Unauthorized - Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: 403 FORBIDDEN
                    message: User is Not entitled for getting the requested data
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: Policy not found for id 1
                    httpStatus: NOT_FOUND
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Error fetching policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
  /v1/policies/limit:
    get:
      tags:
      - Policy Management
      summary: Check policy limit
      description: User can use this endpoint to check their policy limit. The limit indicates the amount of time needed until more policies can be created once the limit has been reached.
      operationId: getLimit
      parameters:
      - $ref: '#/components/parameters/ClientIdHeader'
      responses:
        '200':
          description: Policy limit fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitResponse'
              examples:
                Example 1:
                  value:
                    message: 'Your current limit is: 1000'
        '401':
          description: Unauthorized - Missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: GATEWAY-10-1
                    message: Access token expired
        '403':
          description: Forbidden - Valid credentials but insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: 403 FORBIDDEN
                    message: User is Not entitled for getting the requested data
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400BadRequest'
              examples:
                Example 1:
                  value:
                    message: Policy not found for id 1
                    httpStatus: NOT_FOUND
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    message: Parent id not found in Auth token
                    statusCode: 422 Unprocessable Entity
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Example 1:
                  value:
                    statusCode: INTERNAL_ERROR
                    message: An unexpected error occurred while processing the policy.
      security:
      - bearerAuth: []
components:
  schemas:
    PolicyDeprecationEntity:
      type: object
      description: Policy deprecation information entity
      properties:
        id:
          type: integer
          description: Unique deprecation entity ID
          format: int64
          examples:
          - 769
        deprecated:
          type: boolean
          description: Indicates whether the policy is deprecated
          examples:
          - false
        index:
          type: integer
          description: Ordering index of deprecation record
          examples:
          - 0
        starttime:
          type: string
          description: Start date for deprecation
          format: date
          examples:
          - '2023-04-12'
        endtime:
          type: string
          description: End date for deprecation
          format: date
          examples:
          - '2023-04-19'
        validityindays:
          type: string
          description: Validity duration in days
          examples:
          - '7'
        deprecatedwithviolation:
          type: boolean
          description: Indicates if policy was deprecated due to violation
          examples:
          - false
        signatureid:
          type: string
          description: Associated signature ID of the policy
          examples:
          - SIG_12345
        policyname:
          type: string
          description: Name of the deprecated policy
          examples:
          - Suspicious Login Policy
      required:
      - id
      - deprecated
      - starttime
      - endtime
      - policyname
    PolicyactivelistEntity:
      type: object
      description: Policy active list entity
      properties:
        activelistId:
          type: integer
          description: Unique active list ID
          format: int64
          examples:
          - 9
        policyId:
          type: integer
          description: Associated policy ID
          format: int64
          examples:
          - 12345
        index:
          type: integer
          description: Ordering index of the active list entry
          examples:
          - 0
        metadata:
          type: string
          description: Serialized metadata configuration of the active list (XML format)
          examples:
          - "<activeListParamsBean>\n    <keyRule>u_employeeid</keyRule>\n    <violationAttributes>deviceaction,ipaddress,destinationaddress,destinationport</violationAttributes>\n</activeListParamsBean>"
      required:
      - activelistId
      - policyId
      - metadata
    ViolationSummary:
      type: object
      description: Provides a structured view of violations triggered by the policy.
      properties:
        grouping_attribute:
          type: string
          description: Primary grouping attribute for the violation.
        level2_attribute:
          type: string
          description: Secondary grouping attribute for further categorization.
        level2_metadata_attributes:
          type: array
          description: Metadata attributes associated with the secondary grouping attribute.
          uniqueItems: true
          items:
            type: string
        metadata_attributes:
          type: array
          description: Metadata attributes associated with the primary grouping attribute.
          uniqueItems: true
          items:
            type: string
      examples:
      - grouping_attribute: DeviceAction
        level2_attribute: DeviceEventCategory
        level2_metadata_attributes:
        - DestinationUserName
        - ModifiedProperties1
        metadata_attributes:
        - SourceUserId
        - Category
      x-internal: true
      xml:
        name: violationDisplayConfigBean
    LogSource:
      type: object
      description: Product information
      properties:
        product:
          type: string
          description: Product Name.
        service:
          type: string
          description: Service name.
      examples:
      - product: Google Login
        service: Google
      x-examples:
        Example 1:
          product: azure
          service: auditlogs
      x-internal: true
    PolicyActionRequest:
      type: object
      properties:
        policyNames:
          type: array
          description: List of policy names
          uniqueItems: true
          items:
            type: string
        enable:
          type: string
          description: Action to enable/disable the policies provided
          pattern: ^(true|false)$
      required:
      - policyNames
      - enable
      examples:
      - policyNames:
        - PolicyA
        - PolicyB
        enable: true
    PolicyStatusResponse:
      type: object
      title: PolicyStatusResponse
      properties:
        PolicyStatusDetailsResponse:
          type: array
          items:
            $ref: '#/components/schemas/PolicyStatusDetailsResponse'
      examples:
      - PolicyStatusDetailsResponse:
        - policyName: PolicyA
          policyId: 1
          status: Success
        - policyName: PolicyB
          policyId: 2
          status: Invalid
    MSConfig:
      type: object
      title: MSConfig
      description: Match string check analytics configuration
      properties:
        ms:
          $ref: '#/components/schemas/MatchStringConfig'
      required:
      - ms
      examples:
      - ms:
          first_field: AccountName
          second_field: UserNameSpace
          threshold: 0.8
      x-internal: true
    PolicyLabelEntity:
      type: object
      description: Policy label entity
      properties:
        idx:
          type: integer
          description: Label index ID
          format: int32
        label_name:
          type: string
          description: Label name
        labelId:
          type: integer
          description: Label Id
          format: int64
    PolicyResourceEntity:
      type: object
      description: Policy resource entity
      properties:
        id:
          type: integer
          description: Unique entity ID
          format: int64
          examples:
          - 1
        resourceId:
          type: integer
          description: Associated resource ID
          format: int64
          examples:
          - 1
        resourceGroupId:
          type: integer
          description: Group ID to which the resource belongs
          format: int64
          examples:
          - 1
        resourceTypeId:
          type: integer
          description: Type identifier of the resource
          format: int64
          examples:
          - 1
      required:
      - id
      - resourceId
      - resourceGroupId
      - resourceTypeId
    ActivelistConfig:
      type: object
      title: ActivelistConfig
      properties:
        rule:
          type: string
          description: "Specifies which mapped attributes should be concatenated to form the key that will be matched against entries in the Lookup Table.\n\n**Usage:**\n- A single mapped attribute can be used directly.\n- Multiple mapped attributes can be concatenated with the `+` operator.\n- Literal strings or symbols can also be inserted into the concatenation by wrapping them in parentheses.\n\n**Concatenation rules:**\n- `attribute1 + attribute2` — joins values of both attributes.\n- `attribute(length)` — takes only the first *length* characters of the attribute.\n- `attribute(start,end)` — takes a substring from position *start* to *end* (1-based indexing).\n- `(literal)` — inserts a literal string or character between attributes.\n\n**Examples:**\n1. **Concatenate two attributes**\n    ```yaml\n    accountname+ipaddress\n    ```\n    Produces a key formed by joining `accountname` and `ipaddress`.\n\n2. **Attribute with substring limit**\n    ```yaml\n    transactionstring1(50)+accountname(1,3)\n    ```\n    Produces a key using:\n    - First 50 characters of `transactionstring1`\n    - First 3 characters of `accountname`\n\n3. **Insert literal between attributes**\n    ```yaml\n    emailsender+(.)+filename\n    ```\n    Produces a key formed by:\n    - Value of `emailsender`\n    - The literal `.`\n    - Value of `filename`"
        rule_match_present:
          type: boolean
          description: Check if the values matching rule provided is present.
          default: true
        activelist_name:
          type: string
          description: Name of the activelist.
      required:
      - rule
      - activelist_name
      examples:
      - rule: ipaddress
        rule_match_present: true
        activelist_name: Password_spraying_attempts_From_single_IP
    AddToWatchlist:
      type: object
      properties:
        watchlist_name:
          type: string
          description: Watchlist name
        removal_period:
          $ref: '#/components/schemas/RemovalPeriod'
          description: Time period after which the violator is removed from the watchlist.
      required:
      - watchlist_name
      - removal_period
      examples:
      - watchlist_name: Domain_Admin
        removal_period:
          days: 1
          time: '12:00:00'
          expiry_date_from_current_time: true
    RemovalPeriod:
      type: object
      properties:
        days:
          type: integer
          description: Number of days
          minimum: 0
          maximum: 365
        time:
          type: string
          description: Time in HH:mm:ss format
          pattern: ^([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$
        expiry_date_from_current_time:
          type: boolean
          description: Calculate expiry from current time
          default: false
      required:
      - days
    AdditionalCriteria:
      type: object
      description: "Additional criteria configuration.\n\n**Requirements:**\n- Must contain **at least one** selection key (`selection_n`, where n ≥ 1)\n- Must contain **one** `condition` key.\n\n**Accepted keys:**\n- `selection_n`: Numbered selection blocks (e.g., `selection_1`, `selection_2`, …)\n- `condition`: Defines the condition to apply\n\n**Selection value types:**\n1. **List of entries** → conditions are joined with **OR**  \n2. **Map of entries** → conditions are joined with **AND**  \n\n---\nThe `|attr`, `|gt`, etc. are operator suffixes.  \nThe left-hand side is the field name, the right-hand side is the comparison value."
      properties:
        condition:
          type: string
          description: Logical condition referencing one or more selections.
      patternProperties:
        ^selection_[0-9]*$:
          oneOf:
          - type: array
            items: {}
          - type: object
          description: Criteria for a selection, where `n` is a positive integer.
      required:
      - condition
      minProperties: 2
      examples:
      - selection_1:
          VendorId|contains: Vendor
        condition: NOT selection_1
    BulkPolicyDeletionRequest:
      type: object
      properties:
        tenantName:
          type: string
          description: Name of the tenant for which policies should be deleted
          examples:
          - SOAR
        policies:
          type: array
          description: List of policies to be deleted with their deletion preferences
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/PolicyDeletionItem'
      required:
      - tenantName
      - policies
      examples:
      - tenantName: SOAR
        policies:
        - policyName: Recent Transfers
          deleteViolations: true
        - policyName: policy for Whitelist
          deleteViolations: false
    Policy:
      type: object
      title: Policy
      description: 'Data model for policy information. It is defined in yaml format following the Securonix DELTA framework.



        Refer [DELTA framework](../user-guide/developer-guide/Securonix-delta-framework) for more information.'
      properties:
        name:
          type: string
          description: Policy name.
          minLength: 3
          maxLength: 255
        id:
          type: integer
          description: Policy unique identifier.
          format: int64
        category:
          type: array
          description: Policy categories. Violations of the policy will belong to these categories
          uniqueItems: true
          items:
            type: string
        category_copy:
          type: array
          description: Policy categories. Violations of the policy will belong to these categories
          uniqueItems: true
          items:
            type: string
        functionality:
          type: array
          description: Policy functionality. It helps identify the core purpose or domain the policy belongs to.
          uniqueItems: true
          items:
            type: string
        lifecycle:
          type: string
          description: Policy lifecycle stage.
        version:
          type: number
          description: Sec Version of the policy.
          format: double
        description:
          type: string
          description: Policy description.
          maxLength: 1000
        labels:
          type: array
          description: Policy labels/tags.
          items:
            type: string
            examples:
            - attack.defense_evasion
        logsource:
          $ref: '#/components/schemas/LogSource'
        detection:
          $ref: '#/components/schemas/detection'
          description: "Detection logic and conditions. Used to detect violations based on one or more selection blocks, filter and a condition.\n\n**Structure:**\n- Must contain **at least one** selection key (`selection_n`, where n ≥ 1)  \n- Can contain an optional `filter` for further filtering\n- Must contain a `condition` key  \n**Selection configuration**  \n  Defines field-level conditions used for filtering.\n\n**General format:**\n\nfieldName[|modifier][|attr|oex]: value\n\n\n**Formats**\n- *Literal-based comparison*  \n  ```\n  fieldName[|modifier]: value\n  ```\n- *Attribute-based comparison*  \n  ```\n  fieldName[|modifier]|attr: securonix_attribute\n  ```\n- *External operator expression comparison* \n  - *Supported operators*  \n    1. `whitelist_ip`  \n    2. `whitelist_domain`  \n\n  ```\n  fieldName[|modifier]|oex: operator(attr_or_value)\n  ```\n- *Check against named list comparison*  \n  ```\n  fieldName[|list_modifier]: lookup_table\n  ```\n\n**Parameters**\n- **fieldName** — event field name to evaluate\n- **modifier** *(optional)* — comparison operator (defaults to `equals`)\n- **attr** *(optional)* — references another attribute value\n- **oex** *(optional)* — external operator invocation for lookups (e.g., whitelist checks)\n- **value** — literal value, attribute reference, function call, or lookup table\n\n**Supported modifiers**\n- equals *(default if omitted)*\n- contains\n- gt (greater than)\n- gte (greater than or equal)\n- lt (less than)\n- lte (less than or equal)\n- startswith\n- endswith\n- isnull\n- regex (regex pattern match)\n\n**Negation modifiers**\n- not equals\n- not contains\n- is not null\n- not regex\n\n**List modifiers**\n- equalsinlist *(default if omitted)*\n- containsinlist\n- startswithinlist\n- endswithinlist\n- cidrinlist (CIDR range match, restricted to IP attributes: ipaddress, sourceaddress, destinationaddress, deviceaddress, translatedipaddress)\n- regexinlist (regex pattern match against lookup table)\n\n**Negation list modifiers**\n- not equalsinlist\n- not containsinlist\n- not startswithinlist\n- not endswithinlist\n- not cidrinlist\n- not regexinlist\n\n**Negation usage**\n- Apply negation to a selection block by prefixing its reference with `NOT` in `condition`.\n- Example:\n  ```yaml\n  selection_1:\n    emailsender|equals: sender\n  condition: NOT selection_1\n  ```\n  Evaluates as:\n  ```\n  emailsender(NOT_EQUALS)sender\n  ```\n\n**Examples of supported selection forms**\n\n1. Attribute-based comparison\n   ```yaml\n   emailsender|contains|attr: securonix_attribute\n   ```\n   → emailsender(CONTAINS)attr.securonix_attribute\n\n2. External operator expression with attribute\n   ```yaml\n   requesturl|contains|oex: whitelist_domain(attr.destinationhostname)\n   ```\n   → requesturl(CONTAINS)whitelist_domain(attr.destinationhostname)\n\n3. External operator expression with literal\n   ```yaml\n   requesturl|equals|oex: whitelist_ip(\"10.0.10.0\")\n   ```\n   → requesturl(EQUALS)whitelist_ip(\"10.0.10.0\")\n\n4. Check against lookup table\n   ```yaml\n   accountname|equalsinlist: lookup_table\n   ```\n   → accountname(EQUALS_IN_LIST)lookup_table\n\n5. Literal-based with default modifier\n   ```yaml\n   accountname: value\n   ```\n   → accountname(EQUALS)value\n\n6. Literal-based with explicit modifier\n   ```yaml\n   accountname|contains: value\n   ```\n   → accountname(CONTAINS)value\n\n7. Literal-based with negation\n   ```yaml\n   selection_1:\n     accountname|contains: value\n   condition: NOT selection_1\n   ```\n   → accountname(NOT_CONTAINS)value\n\n8. Attribute-based with negation\n   ```yaml\n   selection_1:\n     accountname|contains|attr: securonix_attribute\n   condition: NOT selection_1\n   ```\n   → accountname(NOT_CONTAINS)attr.securonix_attribute\n\n9. Check against lookup with negation\n   ```yaml\n   selection_1:\n     accountname|containsinlist: value\n   condition: NOT selection_1\n   ```\n   → accountname(NOT_CONTAINS_IN_LIST)value\n\n10. External operator expression with negation\n    ```yaml\n    selection_1:\n      accountname|contains|oex: whitelist_domain(\"abc.com\")\n    condition: NOT selection_1\n    ```\n    → accountname(NOT_CONTAINS)whitelist_domain(\"abc.com\")\n\n11. CIDR range match against lookup table\n    ```yaml\n    selection_1:\n      ipaddress|cidrinlist: SCNX_PrivateIPCIDRs\n    condition: selection_1\n    ```\n    → ipaddress(EQUALS_IN_CIDR_RANGE_LIST)SCNX_PrivateIPCIDRs\n\n12. CIDR range match with negation\n    ```yaml\n    selection_1:\n      ipaddress|cidrinlist: SCNX_PrivateIPCIDRs\n    condition: NOT selection_1\n    ```\n    → ipaddress(NOT_EQUALS_IN_CIDR_RANGE_LIST)SCNX_PrivateIPCIDRs\n\n13. Regex pattern match\n    ```yaml\n    selection_1:\n      accountname|regex: ^admin.*$\n    condition: selection_1\n    ```\n    → accountname(REGEX_EQUALS)^admin.*$\n\n14. Regex pattern match with negation\n    ```yaml\n    selection_1:\n      accountname|regex: ^admin.*$\n    condition: NOT selection_1\n    ```\n    → accountname(REGEX_NOT_EQUALS)^admin.*$\n\n15. Regex match against lookup table\n    ```yaml\n    selection_1:\n      accountname|regexinlist: RegexPatternLookup\n    condition: selection_1\n    ```\n    → accountname(REGEX_EQUALS_IN_LIST)RegexPatternLookup\n\n16. Regex match against lookup table with negation\n    ```yaml\n    selection_1:\n      accountname|regexinlist: RegexPatternLookup\n    condition: NOT selection_1\n    ```\n    → accountname(REGEX_NOT_EQUALS_IN_LIST)RegexPatternLookup\n"
        criticality:
          type: string
          description: Policy criticality level.
          pattern: ^(None|Low|Medium|High)$
        violator:
          type: string
          description: Violator type.
          pattern: ^(Activityaccount|Resources|RGActivityaccount|RTActivityAccount|Activityip|RTActivityip)$
        violatorAttribute:
          type:
          - string
          - 'null'
          description: Selected attribute used to create violation entities for the configured violator. Maps to policy_master.violator_attribute and must be one of the attributes allowed for the selected violator when the violator attribute feature is enabled.
          examples:
          - sourceusername
        tenantname:
          type: array
          description: "List of tenants the policy will be configured for.\n\n> Use the keyword `All` if the policy should apply to **all tenants**.\n\nExample:\n```yaml\ntenantname:\n - All\n ```\n"
          uniqueItems: true
          items:
            type: string
        signatureid:
          type: string
          description: Policy signature identifier.
        threatname:
          type: string
          description: Threat name associated with policy.
        saveasthreat:
          type: boolean
          description: Whether to save as threat.
        verbose_info:
          type: string
          description: Verbose information template. Provides summary of the violation.
        violation_summary:
          $ref: '#/components/schemas/ViolationSummary'
        incident_workflow:
          type: string
          description: Incident workflow identifier.
        autoIncidentEnabled:
          type: boolean
          description: Enables or disables automatic incident creation for policy violations. When omitted during create, the policy defaults to false.
        analytical_type:
          $ref: '#/components/schemas/AnalyticalType'
        additional_event_analytics:
          $ref: '#/components/schemas/AdditionalEventAnalytics'
        violation_action:
          $ref: '#/components/schemas/ViolationAction'
        apisource:
          type: string
          description: Identifies the system calling the API to create or update a policy. Must not be 'PA'.
          maxLength: 2
          default: PA
      required:
      - name
      - category
      - functionality
      - detection
      - criticality
      - violator
      - tenantname
      - signatureid
      - threatname
      examples:
      - name: ''
        id: Account Updates From Suspicious IP Address
        category:
        - Persistence
        - FRAUD
        functionality:
        - loud Authentication / SSO / Single Sign-On
        lifecycle: experimental
        version: 6402507
        description: P Address of (username spraying and password spraying) violators are stored in a active list where this information is stored for 24 hrs.
        labels:
        - attack.defense_evasion
        logsource:
          product: Google Login
          service: Google
        detection:
          selection_1:
            baseeventid: '4688'
          selection_2:
            destinationprocessname: lsaas.exe
          selection_3:
            commandline|contains: lsass.exe
          condition: selection_1 AND ( selection_2 or selection_3 )
        criticality: Low
        violator: Activityip
        tenantname:
        - string
        signatureid: CAAL-Delta-1
        threatname: Account Manipulation
        saveasthreat: true
        verbose_info: '''Account ${accountname!"UNKNOWN"} getting updates from possible suspicious IP Address.'''
        violation_summary:
          grouping_attribute: DeviceAction
          level2_attribute: DeviceEventCategory
          level2_metadata_attributes:
          - DestinationUserName
          - ModifiedProperties1
          metadata_attributes:
          - SourceUserId
          - Category
        incident_workflow: SOCTeamReview
        autoIncidentEnabled: true
        analytical_type:
          aggregated_event_analytics:
          - name: Authentication Failed
            aee_filter:
              selection1:
                baseeventid: 4625
              condition: selection1
            number_of_occurrences:
              duration: 01:30:00
              atleast: 1
              count_matching_criteria:
                baseeventid: 15
            similar_value:
            - accountname
            consecutive_events: true
            distinct_value:
            - ipaddress
            - eventcountry
          - name: Authentication Success
            aee_filter:
              selection1:
                baseeventid|equals: 4625
              condition: selection1
            number_of_occurrences:
              duration: 01:30:00
              atleast: 1
              count_matching_criteria:
                baseeventid: 15
            consecutive_events: false
            distinct_value:
            - ipaddress
            - eventcountry
            parent_child_relationship:
              duration: 01:00:00
              common_values:
              - accountname
        additional_event_analytics:
          match_all_checks: true
          check_against_watchlist:
          - accountname: Terminated_Contractors
            flag_violation_not_found_in_watchlist: true
          check_against_lookup:
          - lookup:
              accountname: MultipleFailedEntries
            condition: lookup
            additional_criteria:
              selection_1:
                VendorId|contains: Vendor
              condition: NOT selection_1
          email_to_self:
          - emailrecipient: 0.8
          match_string:
          - ms:
              first_field: AccountName
              second_field: UserNameSpace
              threshold: 0.8
          check_against_tpi:
          - tpi: null
            destinationaddress:
            - SNXTIS_BASIC_IPV4
            - SNXTIS_BASIC_IPV6
            additional_criteria:
              selection_1:
              - tpi_src_confidence|gt: 5
              - tpi_country|contains|attr: country
              selection_2:
              - tpi_src: abc
              condition: selection_1 AND NOT selection_2
          check_against_activelist:
          - activelist:
              rule: ipaddress
              rule_match_present: true
              activelist_name: Password_spraying_attempts_From_single_IP
        violation_action:
          dailyviolationthreshold: 100000
          add_to_watchlist:
            watchlist_name: Domain_Admin
            removal_period:
              days: 1
              time: '12:00:00'
              expiry_date_from_current_time: true
        apisource: AI
      x-examples: {}
      x-internal: true
    UpdatePolicy:
      type: object
      title: UpdatePolicy
      properties:
        tenantnames:
          type: array
          description: "List of tenants the policy will be configured for.\n\n> Use the keyword `All` if the policy should apply to **all tenants**.\n\nExample:\n```yaml\ntenantname:\n - All\n ```\n"
          items:
            type: string
        description:
          type: string
          description: Policy description.
        labels:
          type: array
          description: Policy labels/tags.
          items:
            type: string
        detection:
          $ref: '#/components/schemas/detection'
        saveasthreat:
          type: boolean
          description: Whether to save as threat.
        incident_workflow:
          type: string
[...]
